*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans' ;
}

main{
    display: flex;
    flex-direction: row;
}


/* for the left session  */
.left_container{
    position: relative;
    height: 100vh;
    width: 17.5%;
    padding: 15px;
    
}

.left_side1{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.left_side1 .info{
    padding-left: 10px;
}

.left_side1 span{
    font-size: 12px;

}

.left_side1 .small_aj{
    padding: 10px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.left_side2{
    margin-top: 15px;

}

.left_side2 input{
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid rgb(177, 177, 177);
    background-color: #ebe8e8;
}

.left_side2 input:focus{
    outline: none;
}


.left_side3{
    margin-top: 15px;
    font-size: 13px;
}

.left_side3 hr.solid{
    border: 1px solid #bbb;
}

.left_side3 .task_list{
    background-color: #ebe8e8;
}
.left_side3 div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.left_side3 strong{
    margin-left: 10px;
}


.left_side3 span{
    display: flex;
    align-items: center;
}

.left_side4{
    color: blueviolet ;
    padding: 15px;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    margin-bottom: 10px;

}

/* for the middle session */
.main_container{
    position: relative;
    width: 65%;
    padding: 15px;
    background-color: #b0a2f2;
}

.main_side1{
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: #fff;
    font-size: 20px;

}

.main_side2{
    display:flex ;
    flex-direction: row;
}

.main_side2 .todo{
    color: blueviolet;
    text-align: center;
    padding: 12px 12px;
    width: 20%;
    border-bottom: 1px solid blueviolet;
}

.main_side2 .completed{
    color: #6e6e85;
    text-align: center;
    padding: 12px 12px;
    width: 20%;
    border-bottom: 1px solid #fff;
}

.main_side3 .tasks{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin-top: 6px;
    background-color: #fff;

}

.main_side3 .taskmain{
    background-color:#cfcdcd ;
}





.main_side3 input{
    background-color:transparent;
    margin-right: 20px;
    
}


.main_side4{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #6e6e85 ;
    color: #ffffff ;
    padding-left: 13px;
    position: absolute;
    width:96% ;
    bottom: 0;
    font-size: 13px;
    margin-bottom: 10px;
    border: none;

}

.main_side4 .plus{
    cursor: pointer;
    padding: 4px;
    font-size: 20px;
}

.main_side4 input{
    width: 60%;
    background-color: #6e6e85 ;
    color: #ffffff ;
    padding: 13px;
    border: none;
}


.main_side4 input::placeholder{
    color: #fff;
}

.main_side4 input:focus{
    outline: none;
}





.right_container{
    width: 17.5%;
    padding: 15px;
}

.right_side1{
    margin-top: 5px;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid #bbb;

}

.right_side1 input{
    margin-right: 15px;
}

.right_side1 > span{
    display: flex;
    align-items: center;
}

.right_side2{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding : 15px;
    border-bottom: 1px solid #bbb;
    color: blueviolet;
    font-size: 12px;

}
.right_side2 > span {
    display: flex;
    align-items: center;
    
}

.right_side3{
    margin-top: 5px;
    padding : 15px;
    border-bottom: 1px solid #bbb;    
}

.right_side3 h6{
    margin :0px;
}

.right_side3 p{
    margin: 0px;
    font-size: 12px;
    line-height: 20px;
}

.right_side4{
    color:blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    margin-bottom: 10px;
}